{
  "plugins": ["prettier", "import"],
  "parser": "@babel/eslint-parser",
  "extends": ["plugin:prettier/recommended", "prettier", "eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "babelrc": false,
      "configFile": false
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-debugger": "off",
    "no-console": 0,
    "class-methods-use-this": "off"
  }
}
